{
  "canBookmark": true,
  "bookmarkName": "Teleport Menu",
  "includePartyMembers": true,
  "includePlayerBookmarks": true,
  "destinations": [
    {
      "name": "Beam to Ship",
      "planetName": "",
      "warpAction": "OwnShip",
      "icon": "/static/images/icon.png"
    }
  ],
  "headerImage": "/static/images/header.png",
  "footerImage": "/static/images/footer.png",
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/static/images/header.png",
      "fileBody": "/static/images/background.png",
      "fileFooter": "/static/images/footer.png"
    },
    "modIcon": {
      "type": "image",
      "file": "/static/images/icon.png",
      "position": [5, 150],
      "zlevel": 1
    },
    "title": {
      "type": "label",
      "position": [26, 154],
      "value": "Teleport Menu"
    },
    "close": {
      "type": "button",
      "base": "/static/images/x/x.png",
      "hover": "/static/images/x/xhover.png",
      "pressed": "/static/images/x/xpress.png",
      "pressedOffset": [0, 0],
      "callback": "close",
      "position": [102, 152]
    },
    "teleportButton": {
      "type": "button",
      "base": "/static/images/beamup/beamup.png",
      "hover": "/static/images/beamup/beamuphover.png",
      "pressed": "/static/images/beamup/beamupno.png",
      "pressedOffset": [0, 0],
      "callback": "beamup",
      "position": [85, 125]
    },
    "teleportLabel": {
      "type": "label",
      "position": [5, 137],
      "vAnchor": "top",
      "hAnchor": "left",
      "value": "Телепорт на спавн"
    }
  },
  "scriptWidgetCallbacks": [
    "beamup"
  ],
  "scripts": [
      "/interface/scripted/teleport.lua", "/interface/scripted/beamin_tplayer.lua", "/interface/scripted/beamout_tplayer.lua"
  ],
  "scriptDelta": 1,
  "autoRefreshRate": 0.5
}
