{
  "canBookmark": true,
  "bookmarkName": "Teleport Menu",
  "includePartyMembers": true,
  "includePlayerBookmarks": true,
  "destinations": [
    {
      "name": "Beam to Ship",
      "planetName": "",
      "warpAction": "OwnShip",
      "icon": "/interface/scripted/beamup.png"
    }
  ],
  "headerImage": "/interface/scripted/warpheader.png",
  "footerImage": "/interface/scripted/warpfooter.png",
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/scripted/warpheader.png",
      "fileBody": "/interface/scripted/body1.png",
      "fileFooter": "/interface/scripted/warpfooter.png"
    },
    "title": {
      "type": "label",
      "position": [10, 140],
      "vAnchor": "bottom",
      "hAnchor": "left",
      "value": "Teleport Menu"
    },
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "pressedOffset": [0, 0],
      "callback": "close",
      "position": [88, 139]
    },
    "beamupButton": {
      "type": "button",
      "base": "/interface/scripted/beamup.png",
      "hover": "/interface/scripted/beamup.png",
      "pressed": "/interface/scripted/beamup.png",
      "pressedOffset": [0, 0],
      "callback": "beamup",
      "position": [44, 68],  // Сместили ещё на 8 пикселей влево
      "size": [64, 64]
    }
  },
  "scriptWidgetCallbacks": [
    "beamup"
  ],
  "scripts": ["/interface/scripted/teleport.lua"],
  "scriptDelta": 1,
  "autoRefreshRate": 0.5
}
